h2.title {
    font-family: monospace;
    color: #008cba;
    font-style: oblique; 
    font-size: large;
    line-height: 0.5;
}

div.title {
    padding: .2em;
    font-size: 1.5em;
    float: left;
    position: relative;
    min-width: 8em;
}

span.info-title {
    font-size: 1.3em;
}

div.circle {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2.5em;
    font-size: 1em;
    line-height: 3.5em; 
    text-align: center;
    margin-right:0.2em;
    background: #008cba;
}

div.circle a:link,
div.circle a:visited {
    color: #fff;
    text-decoration: none;
}

div.circle a:hover {
    color: black;
    text-decoration: none;
}

div.title-droite {
    display: inline-block;
    line-height: 3.5em;
}

div.see-it {
    position: absolute;
    left:8em;
    top: 3em;
    font-size:0.5em;
}

.info {
    position:absolute;
    color:#008cba;
    margin-left:20px
}

div.parent {
    text-align: right;
    font-weight: bold;
}

div.desc h4 {
    background: url('images/ticket.png') no-repeat 0% 50%;
    padding-left: 20px;
}
div.desc {
    background-color: #f6f6f6;
    width: 60%;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
}
p.desc {
    background-color: #f6f6f6;
    text-align: justify;
    text-indent: 5%;
}

div.details {
    clear: both;
    padding: 1em;
}

div.stats {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #3498db;
    padding: 1em;
    margin: 1em;
    line-height: 0.1em;
}

div.action {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #3498db;
    padding: 1em;
    margin: 1em;
    line-height: 0.1em;

}

div.version h3 {
    color: #169;
}

p.version {
    background: url('images/package.png') no-repeat 0% 50%;
    padding-left: 20px;
    color:#169;
    text-indent:0.3em;
}

span.version {
    padding: 1px;
    background-color:#3498db;
    color: white;
    border-radius: 0.3em;
}

span.nbver {
    font-size: small;
}

a.version {
    text-decoration: none !important;
    padding: 2px;
}
a.version:hover {
    color: #169;
    text-decoration: underline;
}

div.descver {
    background-color: #F3F9FF;
}

div.descver p{
    font-size: 14px;    
    }

div.descver a {
    color: #169 !important;
    font-size: 12px;
}

span.statusop {
    color:green;
}

span.statuscl {
    color:red;
}

h3.member {
    background: url('images/group.png') no-repeat 0% 50%;
    padding-left: 20px;
    color:#169;
    text-indent:0.3em;

}

div.member {
    background-color: #f6f6f6;
    font-size: 14px;
}

p.member {
    color: black;
}

p.member span {
    color: #169;
}
