h2.title {
    font-family: monospace;
    color: #008cba;
    font-style: oblique; 
    font-size: large;
    background: url('/lib/plugins/redproject/images/redmine.png') no-repeat 0 50%;
    background-size: 1.8em;
    padding-left: 2em;
}

div.title {
    padding: .2em;
    font-size: 1.5em;
    float: left;
    position: relative;
    min-width: 8em;
}

span.info-title {
    font-size: 1.7em;
}

div.circle {
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 2.5em;
    font-size: 1em;
    line-height: 3.5em; 
    text-align: center;
    margin-right:0.2em;
    background: #3498db;
    color: white;
}

a:hover div.circle {
    color:white;
    background-color:#357ebd;
}

div.title-droite {
    display: inline-block;
    line-height: 3.5em;
}

div.see-it {
    position: absolute;
    left:8em;
    top: 3em;
    font-size:0.5em;
}

.info {
    position:absolute;
    color:#008cba;
    margin-left:20px
}

div.parent {
    text-align: right;
    font-weight: bold;
}

div.desc h4 {
    background: url('images/ticket.png') no-repeat 0% 50%;
    padding-left: 1.2em;
}

div.desc {
    width: 60%;
    float: right;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #19B317;
    padding: 1em;
    margin: 1em;
}
p.desc {
    background-color: #f6f6f6;
    text-align: justify;
    text-indent: 5%;
}

div.details {
    color: #169;
}

div.details h3 {
    background: url('images/stats.png') no-repeat 0% 50%;
    padding-left: 1.2em;
}

div.stats {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #3498db;
    padding: 1em;
    margin: 1em;
    line-height: 0.8em;
}

div.action {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #3498db;
    padding: 1em;
    margin: 1em;
    line-height: 0.8em;

}

div.version {
    clear: both;
    padding-top: 8px;
}
div.version h3 {
    color: #169;
    background: url('images/versions.png') no-repeat 0% 50%;
    padding-left: 1.2em;
}

span.version {
    padding: 0.1em;
    padding-left: 2em;
    border-radius: 0.3em;
    background: url('images/package.png') no-repeat 0% 50%;
}

span.nbver {
    font-size: small;
}

a.version {
    text-decoration: none !important;
    padding: 2px;
}

span.doku {
    font-style: italic;
    font-family: fantasy;
}

div.descver {
    background-color: #F3F9FF;
}

div.descver p{
    font-size: 0.9em;    
    }

div.descver a {
    font-size: 12px;
}

span.statusop {
    color:#00EA00;
}

span.statuscl {
    color:#940707;
}

h3.member {
    background: url('images/group.png') no-repeat 0% 50%;
    padding-left: 20px;
    color:#169;
    text-indent:0.3em;

}

div.member {
    //background-color: #f6f6f6;
    //font-size: 14px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #6f5499;
    padding: 1em;
    margin: 1em;
    line-height: 0.8em;
}

p.member {
    color: black;
}

p.member span {
    color: #169;
}


