h2.title {
    font-family: monospace;
    color: #008cba;
    font-style: oblique; 
    font-size: large;
    line-height: 0.5;
}
div.title {
    background-color: #008cba;
    text-indent: 1.0em;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 24px;
}

a.title {
    color: white;
    text-decoration: none;
}
img.title {
    float: right;
    text-decoration: none;
    padding-right: 6px
}

div.parent {
    text-align: right;
    font-weight: bold;
}
div.desc h4 {
    background: url('images/ticket.png') no-repeat 0% 50%;
    padding-left: 20px;
}
div.desc {
    background-color: #f6f6f6;
    width: 75%;
    line-height: 1.5em;
    border: 1px solid #e4e4e4;
    margin-left: 70px;
    padding-right: 5px;
    padding-left: 5px;
}
p.desc {
    background-color: #f6f6f6;
    text-align: justify;
    text-indent: 5%;
}

div.version h3 {
    color: #169;
}

p.version {
    background: url('images/package.png') no-repeat 0% 50%;
    padding-left: 20px;
    color:#169;
    text-indent:0.3em;
}

span.version {
    padding: 1px;
    background-color:#3498db;
    color: white;
    border-radius: 0.3em;
}

span.nbver {
    font-size: small;
}

a.version {
    text-decoration: none !important;
    padding: 2px;
}
a.version:hover {
    color: #169;
    text-decoration: underline;
}

div.descver {
    background-color: #F3F9FF;
}

div.descver p{
    font-size: 14px;    
    }

div.descver a {
    color: #169 !important;
    font-size: 12px;
}

span.statusop {
    color:green;
}

span.statuscl {
    color:red;
}

h3.member {
    background: url('images/group.png') no-repeat 0% 50%;
    padding-left: 20px;
    color:#169;
    text-indent:0.3em;

}

div.member {
    background-color: #f6f6f6;
    font-size: 14px;
}

p.member {
    color: black;
}

p.member span {
    color: #169;
}
